@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* General Styles */
body {
    font-family: "Ubuntu", sans-serif;
    color: #2b3990;
    background-color: #f8f9fa;
}

:root {
    --blue: rgba(255, 193, 7, 1);
    --white: #fff;
    --gray: #f5f5f5;
    --black: #222;
    --black2: #999;
}

.sidebar {
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1000;
}

.sidebar:hover,
.sidebar.show {
    width: 250px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 56px;
}

.sidebar ul ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul ul li {
    text-align: center;
}

.sidebar ul ul a {
    padding: 5px 10px;
    color: #ccc;
}

.sidebar ul ul a:hover {
    background-color: #495057;
    color: white;
}

.collapse {
    transition: height 0.2s ease;
}

.sidebar ul li {
    padding: 10px 0;
    /* Adjusted padding to remove excess space */
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    /* Added padding for better touch area */
}

.sidebar ul li a:hover {
    background-color: #495057;
}

.sidebar ul li a .sidebar-text {
    display: none;
}

.sidebar:hover ul li a .sidebar-text {
    display: inline-block;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}



.container {
    padding-bottom: 60px;
}

.container form {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox {
    margin-top: 20px;
}

.container form .inputBox span {
    display: block;
    color: #999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: #444;
}

.container form .flexbox {
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}

.container form .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, black, rgba(255, 193, 7, 1));
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: .2s linear;
    border: none;
}

.container form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: .8;
}

.card-wrapper {
    position: relative;
    max-width: 700px;
    height: 260px;
}

.container .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
    background-color: var(--white);
}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, black, rgba(255, 193, 7, 1));
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, black, rgba(255, 193, 7, 1));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}

.cardSmall {
    height: 30vh;
    padding: 20px;
    background-color: var(--gray);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.cardName .mpesaImage span img {
    width: 250px;
}