/* General Styles */
body {
    font-family: "Open Sans", sans-serif;
    color: #2b3990;
}

.sidebar {
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1000;
}

.sidebar:hover,
.sidebar.show {
    width: 250px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 56px;
    /* Adjusted to accommodate navbar */
}

.sidebar ul ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul ul li {
    text-align: center;
}

.sidebar ul ul a {
    padding: 5px 10px;
    color: #ccc;
}

.sidebar ul ul a:hover {
    background-color: #495057;
    color: white;
}

.collapse {
    transition: height 0.2s ease;
}


.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #495057;
}

.sidebar ul li a .sidebar-text {
    display: none;
}

.sidebar:hover ul li a .sidebar-text {
    display: inline-block;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}

/* Main Section */
.main-content {
    margin-left: 60px;
    padding: 20px;
    z-index: 0;
}

.main {
    padding: 20px;
    width: 100%;
}

.main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.main-top i {
    color: rgb(110, 109, 109);
    cursor: pointer;
}

.main .users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.users .card {
    width: 45%;
    margin-bottom: 20px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 11px 19px rgba(0, 0, 0, 0.1);
}

.users .card h4 {
    margin-bottom: 10px;
}

.users .card .user-count {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.users .card i {
    font-size: 40px;
    color: #34af6d;
    margin-bottom: 15px;
}

.users .card button {
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}

.icon-group {
    display: flex;
    justify-content: left;
    /* Center the icons */
    gap: 20px;
    /* Add space between icons */
}

.icon-action {
    cursor: pointer;
    /* Change cursor on hover */
    transition: transform 0.2s;
    /* Smooth scaling effect */
}

.icon-action:hover {
    transform: scale(1.6);
    /* Slightly enlarge icon on hover */
    color: rgb(255, 193, 7, 1);
    ;
}

.icon-action i {
    color: #2b3990;
    /* Set icon color */
    font-size: 1.5em;
    /* Adjust icon size */
}

.icon-action:hover i {
    color: #ffc107;
    /* Change color on hover for better visibility */
}


/* Attendance List Section */
.attendance {
    box-shadow: 0 11px 19px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border-radius: 10px;
}

.attendance-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.attendance-list h1 {
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

/* CSS to style radio buttons */
.form-check-input[type="radio"] {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #2b3990;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 0.5em;
}

/* Checked radio button style */
.form-check-input[type="radio"]:checked {
    background-color: #fed500;
}

/* Label style for radio buttons */
.form-check-label {
    cursor: pointer;
}

.edit-link,
.delete-link {
    margin: 10px;
    text-decoration: none;
    color: #2b3990;
    /* Blue color */
    transition: color 0.3s, text-decoration, ease-in-out;
}

.edit-link:hover,
.delete-link:hover {
    color: #007bff;
    text-decoration: underline;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 90px;
    }

    .main-content {
        margin-left: 90px;
    }

    .main .users .card {
        width: 100%;
    }
}