@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



/* General Styles */
body {
    font-family: "Ubuntu", sans-serif;
    color: #2b3990;
    background-color: #f8f9fa;
    /* Light background for contrast */
}

:root {
    --blue: rgba(255, 193, 7, 1);
    --white: #fff;
    --gray: #f5f5f5;
    --black: #222;
    --black2: #999;
}


.sidebar {
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    overflow-x: hidden;
    transition: width 0.5s;
    z-index: 1000;
}

.sidebar:hover,
.sidebar.show {
    width: 250px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 56px;
}

.sidebar ul ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul ul li {
    text-align: center;
}

.sidebar ul ul a {
    padding: 5px 10px;
    color: #ccc;
}

.sidebar ul ul a:hover {
    background-color: #495057;
    color: white;
}

.collapse {
    transition: height 0.2s ease;
}

.sidebar ul li {
    padding: 10px 0;
    /* Adjusted padding to remove excess space */
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    /* Added padding for better touch area */
}

.sidebar ul li a:hover {
    background-color: #495057;
}

.sidebar ul li a .sidebar-text {
    display: none;
}

.sidebar:hover ul li a .sidebar-text {
    display: inline-block;
}

.navbar-brand img {
    max-width: 40px;
    margin-right: 10px;
}



/* ========= Card Style ======= */
.cardBox {
    position: relative;
    max-width: 100%;
    padding: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    height: 90vh;
}

.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.cardBox .cardLarge {
    grid-row: span 2;
}

.cardBox .cardSmall {
    height: 50%;
}

.cardBox .cardBox .card .numbers {
    font-weight: 600;
    font-size: 2em;
    color: var(--blue);
}

.cardBox .card .cardName {
    color: var(--black);
    font-size: 1.1rem;
    margin-top: 15px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: var(--black);
}

.cardBox .card:hover {
    background: var(--blue);
    transform: translateY(-10px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--gray);
}

/* New CSS for displaying Full Name and others side by side */
.info-row {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.info-row h4 {
    margin-right: 15px;
    font-weight: 600;
    color: var(--black);
}

.info-row span {
    font-weight: 400;
    color: var(--black2);
}

.iconBx {
    font-size: 3rem;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popup Slider */
.popup-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Hidden by default */
}


/* Responsive Styles */
@media (max-width: 768px) {
    .sidebar {
        width: 90px;
    }

    .main-content {
        margin-left: 90px;
    }

    .main .users .card {
        width: 100%;
    }
}